.status {
    font-size: 20px;
    color: black;
    font-weight: normal;
    max-width: 350px;
    cursor: pointer;
}

.status input {
    height: 20px;
    border-radius: 20px;
    padding: 0 10px;
    border: none;
}

