.header {
    grid-area: h;
    background-color: skyblue;
}

.header img {
    width: 40px;
    border-radius: 10px;
    margin-left: 10px;
}

.loginBlock {
    float: right;
    color: whitesmoke;
}

.loginBlock a{
    color: whitesmoke;
    text-decoration: none;
}